<div class="overlay">
<div class="container">
  <h2>About Smart Shopper</h2>
  <hr>
    <div class="row justify-content-md-center">
      
  <div class="col-5">
      <div class="aboutUs">
          <h3>Our Mission</h3>
          <div id="ourM" class="">
            <p>We believe that everybody should have access to know what food they have at their home currently. So when you are out shopping, you can see what you need to buy, and also know when your perisable food items will expire.</p>
          </div>

          <h3>Why Smart Shopper?</h3>
        <div id="whyUs" class="">
          <p>Our company’s name stems from the Roman poet Horace, who wrote: “A cultivated smart shopper, one that badgers less, can persuade all the more. Artful ridicule can address contentious issues more competently and vigorously than can severity alone.” Between that message and a shared vision of global conquest, we feel rather connected to the Romans, and our Foods.</p>
        </div>
      </div>
  </div>

  <div class="col">
    <img src="../../assets/fridge.jpg" id="aboutP"/>
  </div>

  <div class="row justify-content-md-center">
    <h2>Our Team</h2>
  <div class="row">
  <div class="col-lg-4 mb-4">
    <div class="card h-100 text-center">
      <img class="card-img-top" src="http://placehold.it/250x200/000000/FFFFFF/?text=SmartShopper.com" alt="">
      <div class="card-body">
        <h4 class="card-title">Ben</h4>
        <h6 class="card-subtitle mb-2 text-muted">Literal Child</h6>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
      </div>
      <div class="card-footer">
        <a href="#">bengsnyder@gmail.com</a>
      </div>
    </div>
  </div>
  <div class="col-lg-4 mb-4">
    <div class="card h-100 text-center">
      <img class="card-img-top" src="http://placehold.it/250x200/000000/FFFFFF/?text=SmartShopper.com" alt="">
      <div class="card-body">
        <h4 class="card-title">John</h4>
        <h6 class="card-subtitle mb-2 text-muted">#1 Dad</h6>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
      </div>
      <div class="card-footer">
        <a href="#">johnparkswhit@gmail.com</a>
      </div>
    </div>
  </div>
  <div class="col-lg-4 mb-4">
    <div class="card h-100 text-center">
      <img class="card-img-top" src="http://placehold.it/250x200/000000/FFFFFF/?text=SmartShopper.com" alt="">
      <div class="card-body">
        <h4 class="card-title">Ricardo</h4>
        <h6 class="card-subtitle mb-2 text-muted">Ladies' Man</h6>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
      </div>
      <div class="card-footer">
        <a href="#">ricardoblancobarbara@yahoo.com.ar</a>
      </div>
    </div>
  </div>
</div></div><br/><br/>
</div>
</div>
</div>