<div class="overlay">
    <div class="container">
      <h2>About Smart Shopper</h2>
      <hr>
        <div class="row justify-content-md-center">
          
      <div class="col-5">
          <div class="aboutUs">
              <h3>Our Mission</h3>
              <div id="ourM" class="">
                <p>To save you time and money by providing an on the spot ability to see all the groceries you have at home.  Also to be more green by helping you waste less food that expired and less gas driving back to the store for something your forgot.</p>
              </div>
    
              <h3>Why Smart Shopper?</h3>
            <div id="whyUs" class="">
              <p>Have you ever been at the grocery store and couldn't remember if you had something at home or not?  Or know you have it, but did it expire? We all have!  So you could buy it, potentially wasting money and food, or risk not buying it and then not have something you need.  With Smart Shopper, you can log in on your smart phone and see everything you have at home and when it expires!  Never waste money or food again!  With Smart Shopper.</p>
            </div>
          </div>
      </div>
    
      <div class="col">
        <img src="../../assets/fridge.jpg" id="aboutP"/>
      </div>
        </div>

<hr>

      <div class="row justify-content-md-center">
        <h2>Our Team</h2>
      <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="../../assets/ben.jfif" alt="">
          <div class="card-body">
            <h4 class="card-title">Ben</h4>
            <h6 class="card-subtitle mb-2 text-muted">Literal Child</h6>
            <p class="card-text">Ben was our overall strategy and data flow wizard.  He manned the GitHub merges and pieced together our work while problem solving issues that arose.</p>
          </div>
          <div class="card-footer">
            <a href="#">bengsnyder@gmail.com</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="../../assets/john.jfif" alt="">
          <div class="card-body">
            <h4 class="card-title">John</h4>
            <h6 class="card-subtitle mb-2 text-muted">#1 Dad</h6>
            <p class="card-text">John wrote the server side, as well as designing the POST and GET cards.  He also worked a lot on styling and keeping themes consistent throughout the user experience.</p>
          </div>
          <div class="card-footer">
            <a href="#">johnparkswhit@gmail.com</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="../../assets/ricardo.jfif" alt="">
          <div class="card-body">
            <h4 class="card-title">Ricardo</h4>
            <h6 class="card-subtitle mb-2 text-muted">Ladies' Man</h6>
            <p class="card-text">Ricardo wrote our authentication routes, administrator functions, the auth guard, and all the elements of the user login and register functionality.</p>
          </div>
          <div class="card-footer">
            <a href="#">ricardoblancobarbara@yahoo.com.ar</a>
          </div>
        </div>
      </div>
    </div></div><br/><br/>
    </div>
    </div>