<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update Food</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
      
    <label for="food">Food</label>
    <input [(ngModel)]="_food.food" type="text">
    
    <label for="quantity">Quantity</label>
    <input [(ngModel)]="_food.quantity" type="number">
    
    <label for="expiration">Expiration</label>
    <input [(ngModel)]="_food.expiration" type="date">
    
    <label for="brand">Brand</label>
    <input [(ngModel)]="_food.brand" type="text">

    <button (click)="passBack()" type="submit" class="btn btn-primary w-100">Update</button>
</div>