
<!-- nav -->
    <mat-toolbar class="navbar">
        <div class="logoTitle">Smart Shopper</div>
        <div>
            <button routerLink='/about' routerLinkActive='active' mat-raised-button>About Smart Shopper</button>
            <button routerLink='/food/0' routerLinkActive='active' mat-raised-button>My Groceries</button>
            <button routerLink='/shopping' routerLinkActive='active' mat-raised-button>Shopping List</button>
            <button (click)="logout()" mat-raised-button>Logout</button>
        </div>
    </mat-toolbar>

<!-- main app container -->
    <div>
        <router-outlet></router-outlet>
    </div>    

<!-- <app-signup></app-signup> -->
<!-- <router-outlet></router-outlet> -->
<app-footer></app-footer>


