.navbar {
    background-color: lightgreen;
    justify-content: space-between;
    font-size: 1.2rem;
    height:10vh;
    top:0;
    position: fixed;
    overflow: hidden;
    z-index:100;
    
}

.btn.button {
    margin-right: 2rem;
    padding-right: 1rem;
}

button:hover {
    box-shadow: 0.5em 0.5em 1em rgb(0, 0, 0, 0.5);
}

.logoTitle {
    font-size: 2.5rem;
    margin-left:2vw;
}



