<div class="modal-header" >
  <h4 class="modal-title">Update Food</h4>
  <button type="button" class="close" aria-label="Close"
      (click)="activeModal.dismiss('Cross click')">
  </button>
</div>

<form [formGroup]="myForm" (ngSubmit)="submitForm()">
  <div class="modal-body">
    <div class="container">
      <div class="form-group">
        <label for="food">Food</label>
        <input [(ngModel)]="_food.food" 
          type="text" class="form-control" formControlName="food" required>
      </div>
      <div>
        <label for="quantity">Quantity</label>
        <input [(ngModel)]="_food.quantity"
          type="number" class="form-control" formControlName="quantity" required>
      </div>
      <div>
        <label for="expiration">Expiration</label>
        <input [(ngModel)]="_food.expiration"
          type="date" class="form-control" formControlName="expiration">
      </div>
      <div>
        <label for="brand">Brand</label>
        <input [(ngModel)]="_food.brand"
          type="text" class="form-control" formControlName="brand">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <!-- <button type="submit"  -->
      <!-- (click)="activeModal.dismiss('Close clicked')" -->
    <button type="submit"
      (click)="passBack()"
      >Update</button>
  </div>
</form>
  