
<form 
    [formGroup]="createFood"
    (ngSubmit)="onCreateFood()" 
    id="addFoodForm"
    >
    <label for="food">Food</label>
    <input
        formControlName = "food"
        type="text"
        name="food"
        required
    >

    <label for="quantity">Quantity</label>
    <input
        formControlName = "quantity"
        type="number"
        name="quantity"
        required
    >

    <label for="expiration">Expiration</label>
    <input
        formControlName = "expiration"
        type="date"
        name="expiration"
    >
    

    <label for="brand">Brand</label>
    <input
        formControlName = "brand"
        type="text"
        name="brand"
    >

    <button type="submit">Add</button>
</form>



<div *ngIf="food.length !== 0; else noFood" id="foodResults"> 
    <app-display-food 
    *ngFor="let food of food"
    [food]="food"
    ></app-display-food>
    <!-- <div class="deck">
        <div class="card">
            <div class="cardContainer" 
            *ngFor="let food of food"
            [food]="food">
                <h1>{{food.food}}</h1>
                <p>Quanity: {{food.quantity}}</p>
                <p>Exp: {{food.expiration}}</p>
                <p>Brand: {{food.brand}}</p>
                <button (click)="editFood()" mat-button id="editButton">Update</button><button (click)="delete()" mat-button id="deleteButton">Delete</button>
            </div>
        </div>
    </div> -->
</div>
